

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  background-image: url("/img/retina_wood_@2X.png")
}
body {
  background-color: gray;
}

#links-display {
  width: 550px;
  height: 550px;
  border: 1px solid black;
  border-radius: 3px;
}

h1 {
  clear:both;
  margin-top: 90px;
  border-bottom: 3px solid #cc9900;
  color: red;
  font-size: 30px;
}

h3 {
  color: red;
  text-emphasis: bold;
}

.navbar-brand h3 {
  float: left;
  margin-top: 0;
  font-size: 95%;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

nav ul li {
  font-size: 125%;
  padding-right: 2rem;
  
}
table tr:nth-child(odd)	{
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.footer {
  background-color: white;
}

.footer p {
  position: center;
  margin: 0;
}









